body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
header li {
    float: left;
}
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header li a:hover {
    background-color: #111;
}

.FirstHeading {
    color: #C70039;
}

.SecondHeading {
    color: #FF5733;
}

.ThirdHeading {
    color: #FFC300;
}